.nav__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;

  & .nav__list-item {
    > a {
      color: #fed;
      text-decoration: none;
      padding: 16px;
      margin: 8px 0;

      &:hover {
        background: #000;
      }
    }
  }
}
