<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="x-base-url" content="{{ site.url }}"/>
    <title>{{ title }}
      –
      {{ site.name }}</title>
    <link rel="stylesheet" href="{{ site.url }}/css/styles.css"/>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include "navigation.njk" %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% block scripts %}

    {% endblock %}
    
  </body>
</html>